    <head>
        <title>Pryecto</title>
        <meta charset="UTF-8">
        
    </head>
    <body>
                <h1>Crear Una Cuenta</h1>
            <h2>Paso1:</h2>
      
       <fieldset> 
           <legend>Complete el Formulario...</legend> 
       
            <label>Nombre y Apellido:</label> 
                <input type="text" placeholder="Ingrese el nombre" id="nombre"/>   
                <input type="text" placeholder="Ingrese el apellido" id="apellido"/>
            <br>
            <label>Correo:</label>
                <input type="email" placeholder="..@gmail.com" id="correo"/>
            <button id="Bt1">guardar</button>
            
        <br>  
            <div>Usuario:
            <input type="text" placeholder="Usuarios" id="usuarios"/> 
            <input type="password" placeholder="contraseña" id="contraseña0"/>
            <input type="password" placeholder="confirma contraseña" id="contraseña1"/>
            <button id="Bt2">guardar2</button>
        </div> <br>   
        <div>Fecha de naciemnto:
            <input type="date"  id="FdN"/> </div> <br>
        <div>Sexo:
            Masculino <input  type="radio" id="selec1"/> ,   
            femenino<input type="radio" id="selec2"/></div><br>
        <div>Telefono Movil:
            <input type="number" placeholder="n° de cel.." id="movil"/></div> 
            <button id="Bt3">guardar todo</button>
            
            <button id="Bt5">mostrarTodo</button>
            
        </fieldset>
            
            <fieldset><div id="panelResultados" ></div></fieldset>
            
      <h2>Paso2:</h2>      
        
      
      <p> <!--    =tipo= significadoo q hace;
            type=fele= seleccionar archivo; 
                =checkbox= tilde de selccion;
                =color=selecciona un color;
                =date=fecha de naciemnto;
                =datetime=fecha y hora!!!;
                =datetime-local= fecha y hora;
                =hidden=oculto!!!;
                =image=imagen!!!;
                =month= me y año;
                =number=agregar numero;
                =password=ingreso de contraseña;
                =radio= es una asignacion de punto!!!;
                =range=distacia!!!;
                =reset=restablecer;
                =search=buscar;
                =submit=boton de envio;       
                =tel=!!!;
                =test= ingreso de tipo texto;
                =time=tiempo;
                =URL=RIRECCION
                =week=semana y año;
                
        
        -->
        </p>
        <script src="proyecto.js"></script>
        
        
        
        
    </body>
</html>


